* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.content .text {
    font-size: 3em; 
    margin-bottom: 50px;
}
.content .backBtn {
    font-size: 1.5em;
    background-color: #6C8B7C;
    border-radius: 1.2em;
    padding: .5em 2.1em;
    cursor: pointer;
}
.content a {
    text-decoration: none;
    color: white;
}