*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}





@media (min-width: 719px) {
    .head_content {
        opacity: 0;
    }

}


@media (max-width: 720px) {
    .head_content img {
        margin-top: -10%;
    }
   .face_image {
    display: flex;
    justify-content: center;
      img {
        border-radius: 100%;
        width: 30%;
        margin-top: -20%;
      }
}

    }